<form action="/adicionado" method="post">
<p>Titulo:</p>
<input type="text" name="titulo" placeholder="Coloque o título...">
<p>Conteudo:</p>
<textarea type="text" name="conteudo" placeholder="Coloque o conteudo..."></textarea>
<button type="submit">Cadastrar dados</button>
</form>